
@keyframes slide {
  0% {
    transform: translateX(360px);
  }
  100% {
    transform: translateX(0px);
  }
}

.modal {
  animation: slide 300ms cubic-bezier(.47,.15,.41,1.02);
}

div.task-board {
  &::-webkit-scrollbar-track {
    display: none;
  }
  
  &::-webkit-scrollbar{
    display: inherit;
    background-color: transparent;
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply 
    dark:bg-gray-700 
    rounded-lg bg-gray-500;
  }
}