@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  [DONE]: Search the problem with the window size
  The window size is greater
  than the main container and create
  a #bug on display
*/
.main-window {
  @apply w-screen h-screen text-gray-800
  bg-gray-100 dark:bg-gray-800
  dark:text-gray-100 border;
  &:not(.linux) {
    @apply dark:bg-opacity-50 bg-opacity-70 dark:bg-gray-900;
  }
}

body {
  overflow: hidden;
}

.main {
  @apply w-full h-full;
}

*::-webkit-scrollbar {
  display: none;
}

*  {
  @apply border-gray-400 dark:border-opacity-10 border-opacity-20;
}
