@tailwind base;
@tailwind components;
@tailwind utilities;


.main-window {
  @apply w-screen h-screen text-zinc-800
  bg-zinc-100 dark:bg-zinc-900
  dark:bg-opacity-70 bg-opacity-70
  dark:text-zinc-100;
}

.main {
  @apply w-full h-full;
}

*::-webkit-scrollbar {
  display: none;
}