:root { --droppable-height: 0px; }

.droppable-wrapper {
  &::after, &::before {
    content: 'Drop Here';
    width: 100%;
    transition: height 200ms;
    opacity: 0;
    height: var(--droppable-height);
    @apply bg-gray-700 overflow-hidden absolute
    border-dashed rounded-lg text-xl flex
    justify-center items-center border;
  }

  &.droppable-bottom::after {
    opacity: 1;
    position: relative;
    height: 120px;
  }

  &.droppable-top::before {
    opacity: 1;
    position: relative;
    height: 120px;
  }
}

